.card
  %h2= card.title

  = link_to "Edit", edit_deck_card_path(card.deck, card), class: "btn btn-info"
  = link_to "Delete", deck_card_path(card.deck, card), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
