/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #021D9F;
}

.center-title {
  text-align: center;
} 
h1 {
  text-align: center;
  color: #F7C21A;
}

h2, h3, p {
  color: #F7C21A;
}

/* Give padding so cards clear out from under Navbar */
.card-clearance {
  padding-top: 75px;
}

/* Style for first log in 'Create First Deck' message */
.create-first-deck {
  color: #F7C21A;
}


/*********************** 
        NAVBAR
***********************/

nav {
  .navbar-brand {
    a {
      color: #F7C21A;
      font-weight: bold;
      font-size: 1.6em;
    &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

/* Deactivate Link in Navbar */
.hello_user {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}




/********************** 
   CARD INFORMATION
**********************/

/* The decks and cards style */
.card-layout {
  background-color: #222222;
  height: 300px;
  width: 500px;
  text-align: center;
  color: #F7C21A;
  margin: 0 auto 15px auto;
  padding: 80px 15px 0px 15px;
    a {
      color: #F7C21A;
    &:hover {
      color: #ffffff;
      text-decoration: none;;
      }
    }
  }

/*** Button styling on cards ***/
.button-on-cards {
  a {
    color: #ffffff;
  &:hover {
    color: #F7C21A;
    }
  }
}


/*** Indent heading on deck--show page for car create form ***/
.new-card-header {
  text-align: left;
  padding-left: 100px;
}

/* FLIP THE CARD STYLING */
#card {
  margin: 0 auto 15px auto;
  transform-style: preserve-3d;
  transition: transform .4s;
  cursor: pointer;
}

#front{
  margin: 50px;
}

#back {
  transform: rotateX(180deg);
  display: none;
  margin: 60px;
}

.flipped {
  transform: rotateX(180deg);
}

.card-click-area {
  height: 300px;
  width: 500px;
}


/**********************
        FORMS
**********************/

.forms-field {
  color: #F7C21A;
  padding: 0 100px 0 100px;
  h1 {
    padding-left: 100px;
  }
}


.panel.panel-default {
  margin: 0px auto 15px auto;
}







/*********************
**********************
     MOBILE CSS
**********************
**********************/


@media only screen and (max-device-width: 480px) {

.panel.panel-default {

}

/********************** 
   CARD INFORMATION
**********************/

/* The decks and cards style */
.card-layout {
  background-color: #222222;
  width: 400px;
  height: 260px;
  text-align: center;
  color: #F7C21A;
  margin: 0;
  padding: 80px 15px 0px 15px;
    a {
      color: #F7C21A;
    &:hover {
      color: #ffffff;
      text-decoration: none;;
      }
    }
  }

/*** Button styling on cards ***/
.button-on-cards {
  a {
    color: #ffffff;
  &:hover {
    color: #F7C21A;
    }
  }
}


/*** Indent heading on deck--show page for car create form ***/
.new-card-header {
  text-align: left;
  padding-left: 100px;
}

/* FLIP THE CARD STYLING */
#card {
  margin: 0 auto 15px auto;
  transform-style: preserve-3d;
  transition: transform .4s;
  cursor: pointer;
}

#front{
  margin: 50px;
}

#back {
  transform: rotateX(180deg);
  display: none;
  margin: 60px;
}

.flipped {
  transform: rotateX(180deg);
}

.card-click-area {
  height: 300px;
  width: 500px;
}
}

