.col-sm-6.col-sm-offset-3
  - @decks.each do |deck|
    .box.panel.panel-default.deck-title-box
      .card
        %h3= link_to deck.title.truncate_words(10), deck_path(deck), class: "deck-title"
        %p= deck.description.truncate_words(20)

